[user]
	name =  Yilong Ren
	email = yilong.ren@iluvatar.ai
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	lg2 = log --color --graph --pretty=format:'%h %ad | %s%d [%an]' --abbrev-commit --date=short
	sw = show --pretty=raw
	sw2 = show --format=fuller --stat --patch -w -M
	sw3 = show --format=fuller --stat --patch -w -M --word-diff-regex=.
	st = status
	co = checkout
	ci = commit
	br = branch
	unstage = reset HEAD
	pf = pull --ff-only
	type = cat-file -t
	dump = cat-file -p
	d = diff --stat -u
[color]
	ui = true
	diff= true
[format]
	numbered = auto
	signoff = true
[push]
	default = simple
[diff]
	renames = true
[sendemail]
    smtpserver = smtp.iluvatar.ai
    from = Yilong Ren <yilong.ren@iluvatar.ai>
    chairnreplyto = false
    smtpserverport = 25
    envelope-sender = yilong.ren@iluvatar.ai
    to = yilong.ren@iluvatar.ai
    cc = team_si@iluvatar.ai


#	smtpserver = smtp.iluvatar.ai
#	smtpuser = yilong.ren@iluvatar.ai
#	smtpencryption = tls
#	smtpserverport = 25
#	smtppass = xxx
#	to = yilong.ren@iluvatar.ai
#	cc = team_ci@iluvatar.ai
#	cc = skyaxe@iluvatar.ai
[pack]
	windowMemory = 100m
	SizeLimit = 100m
	threads = 1
	window = 0
[url "git@git.sky-data.cn:"]
	insteadOf = https://git.sky-data.cn/
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
